<div class="details">
    <div class="details__summary">
      <span class="details__summary--linked-key hide">PT-2254</span>
      <img class="issue__icon--big issue__icon--priority" src="https://scalaric.atlassian.net/images/icons/priorities/major.svg">
      <img class="issue__icon--big issue__icon--issuetype" src="https://scalaric.atlassian.net/secure/viewavatar?size=medium&amp;avatarId=10318&amp;avatarType=issuetype">
      <span class="details__summary--key">PT-2254</span>
    </div>
    <span class="details__title">Create account for Pedro bla bla</span>
    <div class="data">
      <span class="data__label">Reported</span>
      <span class="data__value">
        <span class="details__sub--reporter">Antek Grzanka</span> ·
        <span class="details__sub--reported">5 days ago</span>
      </span>
    </div>
    <div class="data">
      <span class="data__label">Assignee</span>
      <span class="details__sub--assignee data__value">Antek Grzanka</span>
    </div>
    <div class="data">
      <span class="data__label">Sprint</span>
      <span class="details__sub--sprint data__value">Sprint 131</span>
    </div>
    <div class="comment data hide">
      <span class="data__label">Last comment: <span class="details__sub--comment-author data__label">Sami Joseph</span>, <span class="details__sub--comment-date data__label">5 days ago</span></span>
      <span class="details__sub--comment-body data__value">Wow amazing lol</span>
    </div>
    <div class="pr hide">
      <div class="pr__header">
        <span class="pr__header--title">#580</span>
        <span class="pr__header--sub">created 5 hours ago</span>
      </div>
      <button>app</button><button>creator</button><button>collaborator</button>
    </div>
  </div>