<div class="list-item">
    <div class="list-item__left">
      <img class="icon icon--priority" data-value="issue.priority" data-type="img"/>
      <img class="icon icon--issuetype" data-value="issue.issuetype" data-type="img"/>
    </div>
    <div class="list-item__content" data-value="issue.status" data-type="class">
      <div class="text-title ellipsis">
        <span class="issue-key" data-value="issue.key" data-type="text"></span>
        <span class="issue-summary" data-value="issue.summary" data-type="text"></span>
        <span class="issue-status" data-value="issue.status" data-type="text class"></span>
      </div>
      <div class="text-sub">
        <span data-value="issue.assignee" data-type="text"></span> ·
        <span data-value="issue.sprint" data-type="text"></span>
      </div>
    </div>
</div>