<div class="issue">
    <div class="issue__left">
      <img class="issue__icon issue__icon--priority"/>
      <img class="issue__icon issue__icon--issuetype" />
    </div>
    <div class="issue__content">
      <div class="issue__content--main text-title">
        <span class="issue__content--key"></span>
        <span class="issue__content--summary"></span>
        <span class="issue__content--status"></span>
      </div>
      <div class="issue__content--sub text-sub">
        <span class="issue__content--assignee"></span> ·
        <span class="issue__content--sprint"></span>
      </div>
    </div>
</div>