<div class="issue">
    <div class="issue__left">
      <img class="issue__icon issue__icon--priority" data-value="issue.priority" data-type="img"/>
      <img class="issue__icon issue__icon--issuetype" data-value="issue.issuetype" data-type="img"/>
    </div>
    <div class="issue__content">
      <div class="issue__content--main text-title">
        <span class="issue__content--key" data-value="issue.key" data-type="text"></span>
        <span class="issue__content--summary" data-value="issue.summary" data-type="text"></span>
        <span class="issue__content--status" data-value="issue.status" data-type="text class"></span>
      </div>
      <div class="issue__content--sub text-sub">
        <span class="issue__content--assignee" data-value="issue.assignee" data-type="text"></span> ·
        <span class="issue__content--sprint" data-value="issue.sprint" data-type="text"></span>
      </div>
    </div>
</div>