<div class="column-layout">
    <div class="column-layout__left">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <div class="column-layout__right">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
</div>

<div id="issue-template" class="issue hide">
    <div class="issue__left">
      <img class="issue__icon issue__icon--priority"/>
      <img class="issue__icon issue__icon--issuetype" />
    </div>
    <div class="issue__content">
      <div class="issue__content--main">
        <span class="issue__content--key"></span>
        <span class="issue__content--summary"></span>
        <span class="issue__content--status"></span>
      </div>
      <div class="issue__content--sub">
        <span class="issue__content--assignee"></span> ·
        <span class="issue__content--sprint"></span>
      </div>
    </div>
</div>